# Object files
*.o

# Executables
*.exe
*.out
*.app

# dist
dist/*

# resources packaged up
resources-pkg/*.zip

# xcode
K2/K2.xcodeproj/project.xcworkspace/xcuserdata/*
K2/K2.xcodeproj/xcuserdata/*

# OS X
*/.DS_Store

